.container{
  height: 92vh;
  width: 100%;
  overflow-x: hidden;
}
.cadastro{
  display: block;
  width: 100vw;
  background: rgb(240, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
}

.noticias{
  background: rgb(240, 238, 238);
}

.titulo{
  display: block;
  width: 100vw;
  background: rgb(240, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ---------CADASTRO----------- */

.txt-form {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 200;
}

.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

label{
  padding: 1rem;
}

input, textarea{
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.input-text, .msg{
  margin: 0 1rem 1rem 1rem;
  width: 50%;
  padding: .6rem;
  border: 0px;
  
}

.btn{
  margin: .2rem 0 1rem 0;
  padding-top: .28rem;
  padding-bottom: .28rem;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bec6cc;
  border: 0px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover{
  background-color: #bebaba;
}


.imagem{
  display: flex;
  justify-content: center;
  width: 50%;
  height: 70vh;
}


/* ----------NOTICIAS------------ */

.txt-titulo{
  font-size: 2.3rem;
  letter-spacing: .188rem;
  font-weight: 100;
}

.posts {
  align-items: center;
  width: 100vw;
  min-height: auto;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  border: 1px solid #c4c4c4;
  background-color: #f3f3f3;
  border-radius: 5px;
  width: 20rem;
  height: 31.25rem;
  margin: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.imgPost {
  object-fit: cover;
}

.innerPost {
  min-height: 80vh;
  width: 85%;
  margin: 1rem;
}

.textPost {
  margin: 1rem 0;
  max-width: 90%;
  text-overflow: clip;
  overflow: hidden;
  white-space: wrap;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
}

.card a {
  text-decoration: none;
  color: #409ad2;
  font-weight: bold;
}

/* --------------MEDIA----------------- */

@media (max-width: 999px){
  .imagem{
    display: none;
  }

  .formulario{
    width: 100%;
  }
}